table, td, tr{
    min-width: 100%;
    border: 1px solid grey;
    padding: 10px;
}
 th {
    border: 2px solid grey;
}
// .overview {
//     max-width: 800px;
// }

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
    margin-bottom: 16px;
}